h3 {
    font-size: medium;
}

p {
    margin-bottom: 1%;
    color: #9F9FA1;
}

.inline {
    display: inline-block; 
}

#filename {
    display: flex;
    justify-content: space-between;
}

#browse-btn {
    background: #6C6C6C;
    color: #DCDCDC;

    width: 90px;
    height: 30px;

    border: none;
    border-radius: 2px;

    cursor: pointer;

    box-shadow: 2px 2px 7px #00000055 inset;
}

.custom-file-upload {
    padding: 6px 12px;
    cursor: pointer;
    font-size: medium;
}

.batchBtestLabel {
    background-color: #464646;
    width: 90px;
    height: 35px;
    border-radius: 6px;

    padding-top: 6px;
    text-align: center;
}

.column {
    float: left;
}
  
.left {
    width: 41%;
}
  
.right {
    width: 59%;
    padding-left: 6%;
    border-left: 3.5px solid #393939;
}
  
.row {
    margin-top: 2%;
    margin-bottom: 2%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#button{
    position: relative;
    background-color:#517DF4;
}

.invalid-feedback {
    color: red;
    font-size: small;
}

// .btn {
//         display: inline-block;
//         background: #517DF4;
//         color: #fff;
    
//         padding: 10px 20px;
//         margin: 5px;
//         width: 125px;
//         height: 45px;
    
//         border: none;
//         border-radius: 45px;
    
//         cursor: pointer;
    
//         text-decoration: none;
//         text-transform: uppercase;
//         letter-spacing: 2.5px;
//         font-size: small;
//         font-weight: 500;
    
//         transition: all 0.3s ease 0s;
//         box-shadow: 0px 8px 15px #00000055;
// }
// .btn:focus {
//     outline: none;
// }
// .btn:hover {
//     background: #92a8e3;
//     color: rgb(0, 0, 0);

//     transform: translateY(-7px);
//     box-shadow: 0px 15px 20px rgba(151, 170, 224, 0.155);
// }
// .btn:active {
//     transform: scale(0.95);
// }