h3 {
    font-size: medium;
}

p {
    margin-bottom: 1%;
    color: #9F9FA1;
}

.inline {
    display: inline-block; 
}

#filename {
    display: flex;
    justify-content: space-between;
}

#browse-btn {
    background: #6C6C6C;
    color: #DCDCDC;

    width: 90px;
    height: 30px;

    border: none;
    border-radius: 2px;

    cursor: pointer;

    box-shadow: 2px 2px 7px #00000055 inset;
}

.custom-file-upload {
    padding: 6px 12px;
    cursor: pointer;
    font-size: medium;
}

.batchBtestLabel {
    background-color: #464646;
    width: 90px;
    height: 35px;
    border-radius: 6px;

    padding-top: 6px;
    text-align: center;
}

.column {
    float: left;
}
  
.left {
    width: 40%;
}
  
.right {
    width: 60%;
    padding-left: 4%;
    border-left: 3.5px solid #393939;
}
  
.row {
    margin-top: 2%;
    margin-bottom: 2%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#button{
    position: relative;
    background-color:#517DF4;
}