<div style="padding-top: 1%; padding-bottom: 1%;">
    <div class="inline" style="display: flex; justify-content: space-between;">
        <h3>File name:</h3>
        <input type="text" id="fileName" readonly="readonly">
        <div class="file_input_div">
            <input type="button" id="button" value="Browse" style="padding: 2%;"
                />
            <input type="file" style="opacity:0; position:relative; left:-40px;"
                onchange="javascript: document.getElementById('fileName').value=
                this.value" />
        </div>
    </div>

    <!-- !batch form -->
    <div class="row">
        <div class="column left" style="background-color: transparent;">
            <div class="batchBtestLabel">@BATCH</div>
            <table>
                <tr>
                    <td>
                        <label for="uutType">UUT Type:</label>
                    </td>
                    <td>
                        <input class="shortInput" type="text"
                            [(ngModel)]="uutType">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="uutTypeRev">UUT Type Rev:</label>
                    </td>
                    <td>
                        <input class="shortInput" type="text"
                            [(ngModel)]="uutTypeRev">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="fixtureID">Fixture ID: </label>
                    </td>
                    <td>
                        <input class="shortInput" type="text"
                            [(ngModel)]="fixtureID">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="controller">Controller: </label>
                    </td>
                    <td>
                        <input class="shortInput" type="text"
                            [(ngModel)]="controller">
                    </td>
                </tr>
            </table>
        </div>

        <!-- !btest form -->
        <div class="column right" style="background-color: transparent;">
            <div class="batchBtestLabel">@BTEST</div>
            <table>
                <tr>
                    <td>
                        <label for="boardID">Board ID:</label>
                    </td>
                    <td>
                        <input class="longInput" type="text"
                            [(ngModel)]="boardID">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="startDatetime">Start Datetime:</label>
                    </td>
                    <td class="inline" style="display: flex; padding-top:
                        22px;">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        Use current time
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="duration">Duration:</label>
                    </td>
                    <td class="inline" style="display: flex; padding-top:
                        22px;">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <div class="checkmark"></div>
                        </label>
                        <input class="longInput" id="duration" type="text"
                            placeholder="Custom duration in seconds">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="controller">End Datetime:</label> <!-- !fix based on what is chosen -->
                    </td>
                    <td style="color: #dcdcdc;">
                        190503103149
                    </td>
                </tr>
            </table>
        </div>
        <button class="btn inline" type="submit" (click)="sendData()"
            [routerLink]="'/alert-simulation'" style="float: right;">Next</button>
    </div>
    <!-- <form name="form" #f="ngForm" (ngSubmit)="f.form.valid &&
        onSubmit(f.value)" novalidate>
        <div class="row">
            <div class="column left" style="background-color: transparent;">
                <div class="batchBtestLabel">@BATCH</div>
                <table>
                    <tr>
                        <td>
                            <label for="uutType">UUT Type:</label>
                        </td>
                        <td>
                            <input class="shortInput" type="text"
                                [(ngModel)]="uutType" #uutType="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted &&
                                uutType.invalid }" required>
                        </td>
                    </tr>
                    !uutType input validation
                    <tr *ngIf="f.submitted && uutType.invalid"
                        class="invalid-feedback">
                        <div *ngIf="uutType.errors.required">Value is required</div>
                    </tr>
                    <tr>
                        <td>
                            <label for="uutTypeRev">UUT Type Rev:</label>
                        </td>
                        <td>
                            <input class="shortInput" type="text"
                                [(ngModel)]="uutTypeRev"
                                #uutTypeRev="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted &&
                                uutTypeRev.invalid }" required>
                        </td>
                    </tr>
                    !uutTypeRev input validation
                    <tr *ngIf="f.submitted && uutTypeRev.invalid"
                        class="invalid-feedback">
                        <div *ngIf="uutTypeRev.errors.required">Value is
                            required</div>
                    </tr>
                    <tr>
                        <td>
                            <label for="fixtureID">Fixture ID: </label>
                        </td>
                        <td>
                            <input class="shortInput" type="text"
                                [(ngModel)]="fixtureID"
                                #fixtureID="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted &&
                                fixtureID.invalid }" required>
                        </td>
                    </tr>
                    !fixtureID input validation
                    <tr *ngIf="f.submitted && fixtureID.invalid"
                        class="invalid-feedback">
                        <div *ngIf="fixtureID.errors.required">Value is required</div>
                    </tr>
                    <tr>
                        <td>
                            <label for="controller">Controller: </label>
                        </td>
                        <td>
                            <input class="shortInput" type="text"
                                [(ngModel)]="controller"
                                #controller="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted &&
                                controller.invalid }" required>
                        </td>
                    </tr>
                    !controller input validation
                    <tr *ngIf="f.submitted && controller.invalid"
                        class="invalid-feedback">
                        <div *ngIf="controller.errors.required">Value is
                            required</div>
                    </tr>
                </table>
            </div>
            <div class="column right" style="background-color: transparent;">
                <div class="batchBtestLabel">@BATCH</div>
                <table>
                    <tr>
                        <td>
                            <label for="boardID">Board ID:</label>
                        </td>
                        <td>
                            <input class="longInput" type="text"
                                [(ngModel)]="boardID"
                                #boardID="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted &&
                                boardID.invalid }" required>
                        </td>
                    </tr>
                    !boardID input validation
                    <tr *ngIf="f.submitted && boardID.invalid"
                        class="invalid-feedback">
                        <div *ngIf="boardID.errors.required">Value is
                            required</div>
                    </tr>
                    <tr>
                        <td>
                            <label for="startDatetime">Start Datetime:</label>
                        </td>
                        <td class="inline" style="display: flex; padding-top:
                            22px;">
                            <label class="checkbox-container">
                                <input type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                            Use current time
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="duration">Duration:</label>
                        </td>
                        <td class="inline" style="display: flex; padding-top:
                            22px;">
                            <label class="checkbox-container">
                                <input type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                            <input class="longInput" id="duration" type="text"
                                placeholder="Custom duration in seconds">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="endDateTime">End Datetime:</label> !fix based on what is chosen
                        </td>
                        <td style="color: #dcdcdc;">
                            190503103149
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <p>
            Note: Edit respective fields only if you want redefine the values.<br>
            Click "Next" to proceed to the next page where you can simulate an
            alert
            or click "Finish".
        </p>

        !form submit button
        <input class="btn inline" type="submit" value="next" style="float:
            right;" [routerLink]="'/alert-simulation'">
        <button class="btn inline" type="submit" (click)="sendData()"
            [routerLink]="'/alert-simulation'" style="float: right;">Next</button>
    </form> -->
</div>