<form>
    <table>
        <tr>
            <td>
                <label for="boardID">Board ID:</label>
            </td>
            <td>
                <input id="boardID" type="text" class="longer-input-field"
                    value="P1479299-00-D_SPGT19088002596">
            </td>
        </tr>
        <tr>
            <td>
                <label for="startDatetime">Start Datetime:</label>
            </td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <div class="checkmark"></div>
                </label>
            </td>
            <td style="color: #dcdcdc;">
                Use current time
            </td>
        </tr>
        <tr>
            <td>
                <label for="duration">Duration:</label>
            </td>
            <td>
                <label class="checkbox-container">
                    <input type="checkbox">
                    <div class="checkmark"></div>
                </label>
            </td>
            <td>
                <input id="duration" type="text" class="longer-input-field"
                    placeholder="Custom duration in seconds">
            </td>
        </tr>
        <tr>
            <td>
                <label for="controller">End Datetime:</label> <!-- !fix based on what is chosen -->
            </td>
            <td style="color: #dcdcdc;">
                190503103149
            </td>
        </tr>
    </table>
</form>